.container {
  height: 100vh;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  justify-content: space-evenly;
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F9FF 100%);
}

.title {
  font-size: 1.9em;
  font-weight: bold;
  margin-top: 3vh;
}


img {
  height: 28vh;
  width: 86vw;
  border-radius: 2vh;
}

.container_card {
  display: flex;
  flex-direction: column;
  width: 74vw;
  align-items: center;
  height: 66vh;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 1px 14px 1px darkgray;
}

.card_time {
  display: flex;
  flex-direction: column;
  height: 16vh;
  justify-content: space-evenly;
}

.date {
  font-size: 2.3em;
}

.time {
  align-self: center;
  font-weight: bold;
  font-size: 1.2em;
}

.button_green {
  font-size: 1.5em;
  border: none;
  background-color: #25DE90;
  height: 7vh;
  border-radius: 0;
  width: 37vw;
  color: white;
  text-transform: none;
  box-shadow: -2px 4px 12px -2px #25DE90;
  margin: 0;
}

.button_red {
  font-size: 1.5em;
  border: none;
  background-color: #F3522B;
  height: 7vh;
  border-radius: 0;
  width: 37vw;
  color: white;
  text-transform: none;
  box-shadow: 2px 4px 12px -2px #F3522B;
  margin: 0;
}
