.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-overflow: ellipsis;
  justify-content: center;

  /* list
  margin-top: 2vh;
  justify-content: flex-start; */
}

.container_card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  height: 30vh;
  justify-content: space-evenly;
  border: solid darkgray;

  /* no-list */
  background-color: white;
  border-radius: 1vh;
  box-shadow: 1px 1px 14px 1px lightgrey;
}

.card_time {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  width: 50vw;
}

.buttons {
  display: flex;
  width: inherit;
  justify-content: space-evenly;
}

@media (min-width: 400px) {
  .card_time {
    width: 20vw;
  }
  .buttons {
    width: 30vw
  }
}
