.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-overflow: ellipsis;
  justify-content: space-evenly;
  background-color: #D9F4F3;
  margin-top: -14vh;

  /* list
  margin-top: 2vh;
  justify-content: flex-start; */
}

.greenBorder {
  border-color: green;
  background-color: rgba(96, 207, 46, 0.3);
}

.redBorder {
  border-color: red;
  border-width: 2px;
}

.container_card {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  height: 30vh;
  justify-content: space-evenly;
  background: linear-gradient(110deg, white 60%, #00CFD8 60%);
  box-shadow: -1vh 1vh 6vh -2vh black;

  /* no-list */
  background-color: white;
  border-radius: 1vh;
  box-shadow: 1px 1px 14px 1px lightgrey;
}

.card_time {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  width: 50vw;
}

.buttons {
  display: flex;
  width: inherit;
  justify-content: space-evenly;
}

.app_name {
  font-family: 'Josefin Slab', serif;
  font-size: 3.7em;
}

@media (min-width: 400px) {
  .card_time {
    width: 20vw;
  }
  .buttons {
    width: 30vw
  }
}
