.header {
  font-size: 3em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.quantity {
  float: right;
}

.list_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vh 0;
  margin-bottom: 2.5vh;
  background-color: white;
  border-radius: 1vh;
  border: solid 1px darkgray;
}

.wrapper {
  margin: 2vh 3vh 3vh 2vh;
}